# API Configuration
PORT=5000
NODE_ENV=development
API_URL=https://your-vercel-deployment-url.vercel.app
FRONTEND_URL=https://your-frontend-url.netlify.app

# Database
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/database

# Authentication
JWT_SECRET=your_jwt_secret_key

# API Keys
GROQ_API_KEY=your_groq_api_key
SEARCH_API_KEY=your_google_search_api_key
SEARCH_ENGINE_ID=your_search_engine_id
IIEVLEVENLABS_API_KEY=your_elevenlabs_api_key 